<h1>各種地方的小小下載器～</h1><br />
<h3>伊莉影片下載器</h3>
<%= link_to "GO", eyny_downloader_path, class: "btn btn-success" %><br />
<h3>Pinterest下載器</h3>
<%= link_to "GO", root_path, class: "btn btn-success" %><br />